* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
	margin-top: 0;
}

pre code {
	display: block;
	overflow-x: scroll;
	overflow-y: scroll;
	max-height: 10vh;
	border: 3px double black;
	resize: vertical;
}

.content > * {
	margin: 2rem;
}

a {
	color: #61dafb;
}


.center {
	text-align: center;
}

.result > h3 {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.result > p {
	padding-left: 4.5rem;
}

.points {
	text-align: right;
	padding-right: 0.25rem;
	margin-right: 0.25rem;
	min-width: 4.25rem;
	width: 4.25rem;
	border-radius: 5px;
	border: 2px dotted gray
}
